---
import Layout from "../layouts/Layout.astro";
import Logo from "../components/logo.vue";
import { Icon } from "astro-icon";
---

<Layout title="RealDating.">
  <main class="h-screen flex flex-col items-center justify-evenly bg-primary">
    <!-- header section -->
    <span class="flex flex-col items-center space-y-10">
      <Logo />
      <h1 class="text-white text-5xl font-bold">RealDating.</h1>
    </span>

    <!-- body section -->
    <div class="w-full flex flex-col items-center space-y-10">
      <p class="text-white text-2xl font-bold">Get the alpha version</p>

      <!-- android and ios buttons -->
      <span
        class="w-full flex flex-row justify-evenly md:justify-center md:space-x-28"
      >
        <!-- android button -->
        <button
          onclick="window.open(androidUrl,'_blank')"
          class="inline-flex items-center space-x-2 bg-white text-primary font-bold py-2 px-4 rounded-full"
        >
          <Icon pack="mdi" name="android" class="h-7 w-7" />
          <span>Android</span>
        </button>

        <!-- ios button -->
        <button
          onclick="window.open(androidUrl,'_blank')"
          class="inline-flex items-center space-x-2 bg-white text-primary font-bold py-2 px-4 rounded-full"
        >
          <Icon name="mdi:apple" class="h-7 w-7" />
          <span>IOS</span>
        </button>
      </span>
    </div>
  </main>

  <style lang="css">
    /* [astro-icon] {
      color: white;
    } */
    /* [astro-icon="annotation"] {
    color: red;
  } */
  </style>
</Layout>
