---
import Layout from "../layouts/Layout.astro";
import Logo from "../components/logo.vue";
import { Icon } from "astro-icon";
import Form from "../components/form.vue";
---

<Layout title="RealDating.">
  <main class="h-screen flex flex-col items-center justify-evenly bg-primary">
    <!-- header section -->
    <span class="flex flex-col items-center space-y-10">
      <Logo />

      <div class="flex flex-col items-center space-y-2">
        <h1 class="text-white text-4xl font-bold md:text-5xl lg:text-6xl">
          RealDating.
        </h1>
        <h2
          class="text-4xl font-bold leading-none tracking-tight text-white md:text-5xl lg:text-6xl"
        >
          Designed to be <span
            class="underline underline-offset-3 decoration-8 decoration-accent"
            >real.</span
          >
        </h2>
      </div>
    </span>

    <!-- <Form client:load /> -->

    <!-- android and ios buttons -->
    <div class="w-full flex flex-col items-center space-y-10">
      <p class="text-white text-2xl font-bold">Get the alpha version.</p>

      <span
        class="w-full flex flex-row justify-evenly md:justify-center md:space-x-28"
      >
        <button
          onclick="window.open('https://appdistribution.firebase.dev/i/a84d472bcd6b6962','_blank')"
          class="inline-flex items-center space-x-3 bg-white text-primary font-bold py-2 px-4 rounded-full"
        >
          <Icon pack="mdi" name="android" class="h-7 w-7" />
          <span>Android</span>
        </button>

        <button
          onclick="window.open('https://testflight.apple.com/join/PPN0nKbH','_blank')"
          class="inline-flex items-center space-x-3 bg-white text-primary font-bold py-2 px-4 rounded-full"
        >
          <Icon pack="mdi" name="apple" class="h-7 w-7" />
          <span>IOS</span>
        </button>
      </span>
    </div>
  </main>
</Layout>

<style lang="css">
  [astro-icon] {
    color: #222224;
  }
  /* [astro-icon="annotation"] {
color: red;
} */
</style>
